{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
<style>
    #header{
      background-color: #028CCD !important;
      color: white !important;
    }
    #branding h1{
      color: white !important;

    }
    #site-name a{
        color: white !important;
    }
    .app-orgs.module table caption {
      background-color:#42BAF3 !important;
    }
    .app-auth.module table caption {
      background-color: #42BAF3 !important;
    }

    #user-tools:hover.a:link{
      color: black !important;
    }
    #header a:focus, #header a:hover {
      color: #DBE7F9 !important;
      text-decoration: mone !important;
    }
    .breadcrumbs a:link, .breadcrumbs a:visited, .breadcrumbs{
      color: white !important;
      text-decoration: none;
    }
    #user-tools a {
      border-bottom: 0px solid rgba(255, 255, 255, 0.25) !important;
    }
    div.breadcrumbs {
    background-color: #2DA6DE !important;
    }
    #content-main .object-tools a:focus, #content-main .object-tools a:hover {
      background-color: #30C88B !important;
    }
    #content-main .object-tools a, #content-main .object-tools a {
      background-color: #30C88B !important;
    }
    #changelist #toolbar{
      background: white !important;
      border-top: 1px solid white !important;
      border-bottom: 1px solid white !important;
    }
    .module h2, .module caption, .inline-group h2{
      background: #828586 !important;
      color: white !important;
    }
    thead th a:link, thead th a:visited, thead th{
      background: #eee;

    }
    .button, input[type=submit], input[type=button], .submit-row input, a.button{
      background: #3ECC89;
    }
    .button.default, input[type=submit].default, .submit-row input.default{
      background: #1A8C57;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ "Admnistración Prácticas y Servicio"|default:_('AdminPro') }}</a></h1>
{% endblock %}

{% block userlinks %}
  {% if site_url %}
    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
  {% endif %}
  {% if user.is_active and user.is_staff %}
  {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
      <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}
  {% endif %}
  {% if request.user.is_superuser %}
    {% if user.has_usable_password %}
      <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
  {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock%}

{% block nav-global %}{% endblock %}
