{% extends 'orgs/base.html' %}

{% block navderecha %}

    <a class="nav-link dropdown-toggle" href="#" id="orgsajustes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Engrane.jpg</a>
    <div class="dropdown-menu" aria-labelledby="orgsajustes">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalInformacion" >Perfil</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalcontraseña">Cambiar Contraseña</a>
        <a class="dropdown-item" href="{% url 'orgs:logout' %}">Desconectar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modaldesactivar">Desactivar cuenta</a>
    </div>

{% endblock %}

{% block body %}

    <h5>Felicidades, eres un estudiante</h5>



<!--TABLA CON LISTA DE SOLICITUDES ENVIADAS POR EL ESTUDIANTE -->

    <h1>Datos</h1>
    <table class="table table-bordered display DataTables">
        <thead>
            <tr>
                <td>Titulo</td>
                <td>Estado</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% if vacantes_estudiante %}
                {% for vacante_est in vacantes_estudiante %}
                    <tr>
                        <td>{{ vacante_est.getVacante.titulo }}</td>
                        <td class="text-warning">{{ vacante_est.estado }}</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modaldetail{{ vacante_est.id }}">Ver Detalles</button>
                            <button class="btn btn-danger text-white" data-toggle="modal" data-target="#modaldelete{{ vacante_est.id }}">Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h5>No tiene solicitudes de vacantes aún</h5>
            {% endif %}
        </tbody>
    </table>

<!-- TERMINA TABLA CON LISTA DE SOLICITUDES ENVIADAS POR EL ESTUDIANTE -->

<!-- MODAL CONFIRMAR ELIMINICACIÓN DE SOLICITUD DE VACANTE -->

    {% for vacante_est in vacantes_estudiante %}
        <div class="modal fade" id="modaldelete{{ vacante_est.id }}" tabindex="-1" role="dialog" aria-labelledby="modaldelete" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Solicitud</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
              </div>
                <div class="modal-body">
                    <div class="container">
                        <h5>¿Estás seguro que deseas eliminar la solicitud?</h5>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger text-white" href="{% url 'orgs:solicituddelete' vacante_est.id %}">Eliminar</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    {% endfor %}

<!-- TERMINA MODAL CONFIRMAR ELIMINICACIÓN DE SOLICITUD DE VACANTE -->

<!-- MODAL CAMBIAR CONTRASEÑA -->

<div class="modal fade" id="modalcontraseña" tabindex="-1" role="dialog" aria-labelledby="cambiarContraseña" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLongTitle">Cambiar Contraseña</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
      </div>
        <div class="modal-body">
            <div class="container">
                <form method="post" action="{% url 'orgs:orgspassword' %}">
                 {% csrf_token %}
                {%  for field in formpass %}
                    <div class="form-group row">
      <div class="col-sm-4">
          <label for="{{field.name}}" class="col-form-label">{{ field.label_tag }}</label>
      </div>
          <div class="col-sm-8">
            {{ field }}
            <br>
            <small id="help{{ field.auto_id }}" class="text-danger"></small>
          {% if field.help_text %}
            <small class="right" style="color: grey">{{ field.help_text }}</small>
          {% endif %}

        </div>

        </p>
      </div>
                    {% endfor %}
                <div class="row justify-content-end">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
          </div>
                 </form>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- TERMINA MODAL CAMBIAR CONTRASEÑA -->

<!-- MODAL CAMBIAR INFORMACIÓN PERSONAL -->

<div class="modal fade" id="modalInformacion" tabindex="-1" role="dialog" aria-labelledby="cambiarContraseña" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLongTitle">Información Personal</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form method="post" action="{% url 'orgs:estudinfo' %}">
                 {% csrf_token %}
                    <div class="form-group">
                        <label for="fecha">Fecha de Nacimiento</label><br>
                        <input name="fecha" type="text" value="{{ user.est_fecha_nacimiento }}" required>
                    </div>
                    <div class="form-group">
                        <label for="escolaridad">Grado de Escolaridad</label><br>
                        <input name="escolaridad" type="text" value="{{ user.est_escolaridad }}" required>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado</label><br>
                        <input name="estado" type="text" value="{{ user.est_estado }}" required>
                    </div>
                    <div class="form-group">
                        <label for="ciudad">Ciudad</label><br>
                        <input name="ciudad" type="text" value="{{ user.est_ciudad }}" required>
                    </div>
                    <div class="form-group">
                        <label for="horas">Grado de Escolaridad</label><br>
                        <input name="horas" type="text" value="{{ user.est_horasAcreditadas }}" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- TERMINA MODAL CAMBIAR INFORMACIÓN PERSONAL -->

<!-- COMIENZA MODAL DESACTIVAR CUENTA -->

<div class="modal fade" id="modaldesactivar" tabindex="-1" role="dialog" aria-labelledby="cambiarContraseña" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLongTitle">Confirmar Desactivar Cuenta</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
      </div>
        <div class="modal-body">
            <div class="container">
                    <p>¿Estás seguro que deseas desactivar tu cuenta?</p>
                    <p>No podrás tener acceso a tu cuenta. En caso de querer que se reactive tendrás que enviar un correo al soporte</p>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="{% url 'orgs:desactivar' %}">Confirmar</a>
            </div>
        </div>
        </div>
    </div>
  </div>
</div>

<!-- TERMINA MODAL DESACTIVAR CUENTA -->



    <script>
        function password(){
            pass1 = document.getElementById('pass1');
            pass2 = document.getElementById('pass2');
            helppass1 = document.getElementById('helpid_newpassword1');
            helppass2 = document.getElementById('helpid_newpassword2');
            console.log(helppass1);
            if(pass1.value.length < 7){
                helppass1.innerHTML = 'La contraseña debe tener al menos 7 caracteres';
            }
            else{
                helppass1.innerHTML = '';
            }
        }
    </script>
{% endblock %}
