{% extends 'orgs/base.html' %}


{% block navderecha %}
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#LoginModalCenter">Ingresar</button>&nbsp;
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalOrganizacionUsuario">Registrarse</button>
{% endblock %}

{% block body %}
    <!--modal para seleccionar tipo de registro-->
    <div class="modal fade" id="modalOrganizacionUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Registrarse como:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUpOrganizacion">Organización</button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signupEstudiante"> Estudiante </button>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>-->
        </div>
      </div>
    </div>

    <!-- Modal registrarse Organización-->
    <div class="modal fade" id="signUpOrganizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Registrarse</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
            <form method="post">

              {% csrf_token %}
              {% for field in form_registro %}
              <div class="form-group row">
              <div class="col-sm-4">
                  <label for="{{field.name}}" class="col-form-label">{{ field.label_tag }}</label>
              </div>
                  <div class="col-sm-8">
                    {{ field }}
                  {% if field.help_text %}
                    <small class="right" style="color: grey">{{ field.help_text }}</small>
                  {% endif %}

                </div>
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
              </div>
              {% endfor %}
            <button type="submit" id="registrar" hidden=true>Sign up</button>
          </form>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button for="registrar" type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal registrarse Estudiante-->
    <div class="modal fade" id="signupEstudiante" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Registrarse</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form method="post">
                {% csrf_token %}
                  <div class="form-row">
                      <div class="col-md-8 mb-4">
                        <label for="{{ form_registro_estudiante.username.id_for_label }}">{{form_registro_estudiante.username.label}}</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                          </div>
                          {{form_registro_estudiante.username}}
                          <div class="invalid-tooltip">
                                {% for error in field.errors %}
                                    carnaaaal
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}

                          </div>
                        </div>
                      </div>


                    <div class="col-md-4 mb-2">
                      <label for="{{ form_registro_estudiante.est_escolaridad.id_for_label }}">{{ form_registro_estudiante.est_escolaridad.label}}</label>
                      {{ form_registro_estudiante.est_escolaridad }}
                      <div class="invalid-tooltip">
                        Por favor selecciona una opción
                      </div>

                    </div>
                  </div>
                    <div class="form-row">

                      <div class="col-md-4 mb-3">
                      <label for="{{ form_registro_estudiante.first_name.id_for_label }}">{{form_registro_estudiante.first_name.label}}</label>
                      {{form_registro_estudiante.first_name}}
                      <div class="valid-tooltip">
                        Looks good!
                      </div>
                    </div>

                    <div class="col-md-5 mb-3">
                      <label for="{{ form_registro_estudiante.last_name.id_for_label }}">{{form_registro_estudiante.last_name.label}}</label>
                      {{form_registro_estudiante.last_name}}
                      <div class="valid-tooltip">
                        Looks good!
                      </div>
                    </div>

                      <div class="col-md-3 mb-3">
                        <label for="{{ form_registro_estudiante.est_fecha_nacimiento.id_for_label }}">{{ form_registro_estudiante.est_fecha_nacimiento.label }}</label>
                        {{form_registro_estudiante.est_fecha_nacimiento}}
                        <small class="right" style="color: grey">{{ form_registro_estudiante.est_fecha_nacimiento.help_text }}</small>
                        <div class="invalid-tooltip">
                          Please provide a valid state.
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-5 mb-3">
                        <label for="{{ form_registro_estudiante.est_estado.id_for_label }}">{{ form_registro_estudiante.est_estado.label}}</label>
                        {{ form_registro_estudiante.est_estado }}
                        <div class="invalid-tooltip">
                          Por favor selecciona una opción
                        </div>
                      </div>
                      <div class="col-md-7 mb-3">
                        <label for="{{ form_registro_estudiante.est_ciudad.id_for_label }}">{{ form_registro_estudiante.est_ciudad.label }}</label>
                        {{form_registro_estudiante.est_ciudad}}
                        <div class="invalid-tooltip">
                          Please provide a valid state.
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="{{ form_registro_estudiante.email.id_for_label }}">{{ form_registro_estudiante.email.label}}</label>
                        {{ form_registro_estudiante.email }}
                        <div class="invalid-tooltip">
                          Por favor selecciona una opción
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label for="{{ form_registro_estudiante.password1.id_for_label }}">{{ form_registro_estudiante.password1.label}}</label>
                        {{ form_registro_estudiante.password1 }}
                        <div class="invalid-tooltip">
                          Por favor selecciona una opción
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="{{ form_registro_estudiante.password2.id_for_label }}">{{ form_registro_estudiante.password2.label }}</label>
                        {{form_registro_estudiante.password2}}
                        <div class="invalid-tooltip">
                          Please provide a valid state.
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-end">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Registrarse</button>
                  </div>
                  </form>
                </div>
        </div>
        <!--  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button for="registrar" type="submit" class="btn btn-primary">Registrarse</button>
          </div>-->
        </div>
      </div>
    </div>

    <!-- Cartas de Vacantes-->
    <div class="container">
      <div class="row">
        <div class="col-sm">
            {% if vacantes %}
                {% for vacante in vacantes %}
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">{{ vacante.titulo }}</h5>
                          <p class="card-text">{{ vacante.descripcion }}</p>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modaldetails{{ vacante.id }}">Más Informacion</button><br><br>
                          {% if student %}
                              <a href="{% url 'orgs:solicitud' vacante.id %}"><button class="btn btn-success btn-lg">Mandar Solicitud</button></a>
                          {% elif orgs %}
                              <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#SolicitudOrgs">Mandar Solicitud</button>
                          {% else %}
                              <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#SolicitudSession">Mandar Solicitud</button>
                          {% endif %}
                      </div>
                  </div>
            {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>


    <!-- MODAL NO PUEDES MANDAR SOLICITUD SI NO ESTÁS CONECTADO COMO ESTUDIANTE -->

    <div class="modal fade" id="SolicitudOrgs" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Has iniciado sesión como organización</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
              <p>Únicamente las cuentas de estudiante pueden mandar solicutudes para vacantes</p>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>-->
        </div>
      </div>
    </div>

    <!-- TERMINA MODAL NO PUEDES MANDAR SOLICITUD SI NO ESTÁS CONECTADO COMO ESTUDIANTE -->


    <!-- MODAL NO PUEDES MANDAR SOLICITUD SI ESTÁS CONECTADO COMO ORGANIZACION -->

    <div class="modal fade" id="SolicitudSession" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">No Has Iniciado Sesión</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
              <p>No puedes mandar ninguna solicutud hasta que inicies sesión como un estudiante</p>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>-->
        </div>
      </div>
    </div>

    <!-- MODAL NO PUEDES MANDAR SOLICITUD SI ESTÁS CONECTADO COMO ORGANIZACION -->

    <!--Modal login-->
    <div class="modal fade" id="LoginModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Ingresar al Sistema</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div class="container">
            <form method="post" action="{% url 'orgs:login' %}">
            <div class="form-group">
              {% csrf_token %}
              {% for field in form_login %}
              <div class="form-group row">
              <div class="col-sm-4">
                  <label for="{{field.name}}" class="col-form-label">{{ field.label_tag }}</label>
              </div>
                  <div class="col-sm-8">
                    {{ field }}
                  {% if field.help_text %}
                    <small class="right" style="color: grey">{{ field.help_text }}</small>
                  {% endif %}

                </div>
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
              </div>
              {% endfor %}
            </div>
            <div class="text-center">
              <button type="submit" id="botonIngresar" class="btn btn-primary">Conectarse</button>
          </div>
          </form>
        </div>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button for="#botonIngresar" type="submit" class="btn btn-primary">Ingresar</button>
          </div>-->
        </div>
      </div>
    </div>

       <!-- MODAL DETALLES VACANCTE-->
    {% for vacante in vacantes %}
        <div class="modal fade" id="modaldetails{{ vacante.id }}" tabindex="-1" role="dialog" aria-labelledby="modaldetails" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLongTitle"> Informacion</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
              </div>
                <div class="modal-body">
                    <div class="container">
                        <form method="post" action="vacante_details">
                          <table>
                              <h3>{{ vacante.titulo }}</h3>
                              <p>{{ vacante.tipo }}</p>
                              <p>{{ vacante.descripcion }}</p>
                              <p>{{ vacante.departamento }}</p>
                              <p>{{ vacante.duracion }}</p>
                              <p>{{ vacante.horario }}</p>
                              <p>{{ vacante.areas }}</p>
                              <p>{{ vacante.apoyo }}</p>
                              <p>{{ vacante.localizacion }}</p>
                          </table>
                         </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    {% endfor %}

{% endblock %}
