{% extends 'orgs/base.html' %}
{% load static %}
{% load i18n %}
{% block navderecha %}

        <a class="nav-link dropdown-toggle" href="#" id="orgsajustes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Engrane.jpg</a>
        <div class="dropdown-menu" aria-labelledby="orgsajustes">
          <a class="dropdown-item" href="#"data-toggle="modal" data-target="#modalperfil" >{% trans 'Perfil' %}</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalcontraseña">{% trans 'Cambiar contraseña'%}</a>
          <a class="dropdown-item" href="{% url 'orgs:logout' %}">{% trans 'Desconectar'%}</a>
        </div>

{% endblock %}

{% block body %}
    <br>
      <div class="container-fluid">
         <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalvacante">{% trans "Agregar vacante" %}</button>


<!-- MODAL AGREGAR VACANCTE-->

     <div class="modal fade" id="modalvacante" tabindex="-1" role="dialog" aria-labelledby="modalvacante" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Vacante" %}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
          </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" action="vacante_view" enctype="multipart/form-data">
                     {% csrf_token %}
                    {%  for field in form %}
                        <div class="form-group row">
                  <div class="col-sm-4">
                      <label for="{{field.name}}" class="col-form-label">{{ field.label_tag }}</label>
                  </div>
                  <div class="col-sm-8">
                    {{ field }}
                  {% if field.help_text %}
                    <small class="right" style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  </div>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          </div>
                        {% endfor %}
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancelar" %}</button>
                <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
                     </form>
                </div>
            </div>
        </div>
      </div>
    </div>


<!-- MODAL CAMBIAR CONTRASEÑA -->

    <div class="modal fade" id="modalcontraseña" tabindex="-1" role="dialog" aria-labelledby="cambiarContraseña" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Cambiar contraseña" %}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
          </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" action="{% url 'orgs:orgspassword' %}">
                     {% csrf_token %}
                    {%  for field in formpass %}
                        <div class="form-group row">
          <div class="col-sm-4">
              <label for="{{field.name}}" class="col-form-label">{{ field.label_tag }}</label>
          </div>
              <div class="col-sm-8">
                {{ field }}
              {% if field.help_text %}
                <small class="right" style="color: grey">{{ field.help_text }}</small>
              {% endif %}

            </div>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          </div>
                        {% endfor %}
                    <div class="row justify-content-end">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancelar"%}</button>
                <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
              </div>
                     </form>
                </div>
            </div>
        </div>
      </div>
    </div>
      <br>

<!-- TABLA DESPLEGAR VACANTES DE ORGANIZACION -->

        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title mb-4">{% trans "Vacantes" %}</h3>
                  <div class="table-responsive">
                    <table class="table center-aligned-table">
                      <thead>
                      <tr>
                        <th>{% trans "Tipo de vacante" %}</th>
                        <th>{% trans "Título" %}</th>
                        <th>{% trans "Descripción" %}</th>
                        <th>{% trans "Departamento relacionado" %}</th>
                        <th>{% trans "Duración" %}</th>
                        <th>{% trans "Horario" %}</th>
                        <th>{% trans "Áreas" %}</th>
                        <th>{% trans "Apoyo" %}</th>
                        <th>{% trans "Domicilio" %}</th>
                        <th>{% trans "Acciones" %}</th>
                      </tr>
                      </thead>
                      <tbody>
                          {% if vacantes %}
                            {% for vacante in vacantes %}
                            <tr>
                                <td>{{ vacante.tipo }}</td>
                                <td>{{ vacante.titulo }}</td>
                                <td>{{ vacante.descripcion }}</td>
                                <td>{{ vacante.departamento }}</td>
                                <td>{{ vacante.duracion }}</td>
                                <td>{{ vacante.horario }}</td>
                                <td>{{ vacante.areas }}</td>
                                <td>{{ vacante.apoyo }}</td>
                                <td>{{ vacante.localizacion }}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modaleditar">{% trans "Editar" %}</button>
                                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modaldelete{{ vacante.id }}">{% trans "Eliminar" %}</button
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <h5>No hay vacantes</h5>
                        {% endif %}
                      <!--
                        <tr>
                          <td><label class="badge badge-teal">Approved</label></td>
                          <td><a href="#" class="btn btn-outline-success btn-sm">View Order</a></td>
                          <td><a href="#" class="btn btn-outline-danger btn-sm">Cancel</a></td>
                        </tr>
                       -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- TERMINA TABLA DESPLEGAR VACANTES DE ORGANIZACION -->


<!-- TABLA DESPLEGAR VACANTES QUE TIENEN SOLICITUD -->

        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title mb-4">{% trans "Solicitudes" %}</h3>
                  <div class="table-responsive">
                    <table class="table center-aligned-table">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>{% trans "Nombre del solicitante" %}</th>
                        <th>{% trans "Estado" %}</th>
                        <th>{% trans "Tipo" %}</th>
                        <th>{% trans "Título" %}</th>
                        <th>{% trans "Acciones" %}</th>
                      </tr>
                      </thead>
                      <tbody>
                        {% if vacantes %}
                            {% for vacante in vacantes %}
                                {% for solicitud in vacante.vacante_estudiante_set.all %}
                                  <tbody>
                                    <tr>
                                        <td>{{ vacante.id }}</td>
                                        <td>{{ solicitud.getEstudiante.first_name }} {{ solicitud.getEstudiante.last_name }}</td>
                                        <!-- <td><label class="badge badge-danger"> Rejected </label></td> -->
                                        {% if solicitud.estado == 'pendiente' %}
                                            <td class="badge badge-warning">{{ solicitud.estado }}</td>
                                        {% else %}
                                            <td class="badge badge-success">{{ solicitud.estado }}</td>
                                        {% endif %}

                                        <td>{{ vacante.tipo }}</td>
                                        <td>{{ vacante.titulo }}</td>
                                        <td>
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#">{% trans "Aceptar" %}</button>
                                            <button class="btn btn-danger text-white" data-toggle="modal" data-target="#deleteSol{{ solicitud.id }}">{% trans "Rechazar" %}</button>
                                        </td>
                                    </tr>
                                        </tbody>

                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <h2>No hay solicitudes</h2>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


<!-- TERMINA TABLA DESPLEGAR VACANTES QUE TIENEN SOLICITUD -->



<!-- MODAL EDITAR VACANCTE-->
    <div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="modaleditar" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Editar vacante" %}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
          </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" action="{% url 'orgs:vacanteinfo' %}">
                 {% csrf_token %}
                    <div class="form-group">
                        <label for="fecha">{% trans "Fecha de nacimiento" %}</label><br>
                        <input name="fecha" type="text" value="{{ user.est_fecha_nacimiento }}" required>
                    </div>
                    <div class="form-group">
                        <label for="escolaridad">{% trans "Grado de escolaridad" %}</label><br>
                        <input name="escolaridad" type="text" value="{{ user.est_escolaridad }}" required>
                    </div>
                    <div class="form-group">
                        <label for="estado">{% trans "Estado" %}</label><br>
                        <input name="estado" type="text" value="{{ user.est_estado }}" required>
                    </div>
                    <div class="form-group">
                        <label for="ciudad">{% trans "Ciudad" %}</label><br>
                        <input name="ciudad" type="text" value="{{ user.est_ciudad }}" required>
                    </div>
                    <div class="form-group">
                        <label for="horas">{% trans "Horas acreditadas" %}</label><br>
                        <input name="horas" type="text" value="{{ user.est_horasAcreditadas }}" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancelar" %}</button>
                    <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
                </form>
                </div>
            </div>
        </div>
      </div>
    </div>


    <!-- MODAL ELIMINAR VACANTE-->

{% for vacante in vacantes %}
    <div class="modal fade" id="modaldelete{{ vacante.id }}" tabindex="-1" role="dialog" aria-labelledby="modaldelete" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Eliminar vacante" %}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
          </div>
            <div class="modal-body">
                <div class="container">
                    <h5>{% trans "¿Estás seguro que deseas eliminar la vacante " %}"{{ vacante.titulo }}"?</h5>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancelar" %}</button>
                    <a class="btn btn-danger text-white" href="{% url 'orgs:vacantedelete' vacante.id %}">{% trans "Eliminar" %}</a>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endfor %}


    <!-- MODAL PERFIL DE ORGANIZACION -->


    <!-- MODAL MODIFICAR INFORMACION DE ORGANIZACION -->
    <div class="modal fade" id="modalperfil" tabindex="-1" role="dialog" aria-labelledby="modificarInformacion" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Información de mi organización" %}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">x</span>
                 </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" action="{% url 'orgs:organinfo' %}">
                     {% csrf_token %}
                        <div class="form-group">
                            <label for="descripcion">{% trans "Descripción" %}</label><br>
                            <input name="descripcion" type="text" value="{{ orgs.org_descripcion }}" required>
                        </div>
                        <div class="form-group">
                            <label for="siglas">{% trans "Siglas" %}</label><br>
                            <input name="siglas" type="text" value="{{ orgs.org_siglas }}" required>
                        </div>
                        <div class="form-group">
                            <label for="figuralegal">{% trans "Figura legal" %}</label><br>
                            <input name="figuralegal" type="text" value="{{ orgs.org_figuralegal }}" required>
                        </div>
                        <div class="form-group">
                            <label for="rfc">{% trans "RFC" %}</label><br>
                            <input name="rfc" type="text" value="{{ orgs.org_rfc }}" required>
                        </div>
                        <div class="form-group">
                            <label for="cluni">{% trans "Cluni" %}</label><br>
                            <input name="cluni" type="text" value="{{ orgs.org_cluni }}" required>
                        </div>
                        <div class="form-group">
                            <label for="webpage">{% trans "Página web" %}</label><br>
                            <input name="webpage" type="text" value="{{ orgs.org_webpg }}" required>
                        </div>
                        <div class="form-group">
                            <label for="objetivo">{% trans "Objetivo" %}</label><br>
                            <input name="objetivo" type="text" value="{{ orgs.org_objetivo }}" required>
                        </div>
                        <div class="form-group">
                            <label for="campodeaccion">{% trans "Campo de acción" %}</label><br>
                            <input name="campodeaccion" type="text" value="{{ orgs.org_campoaccion }}" required>
                        </div>
                        <div class="form-group">
                            <label for="anios">{% trans "Años de operación" %}</label><br>
                            <input name="anios" type="text" value="{{ orgs.org_anios }}" required>
                        </div>


                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancelar" %}</button>
                        <button class="btn btn-primary" type="submit">{% trans "Guardar" %}</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- FIN DE MODAL MODIFICAR INFORMACION DE ORGANIZACION -->


</div>   <!--  DIV QUE CIERRA EL CONTAINER DEL PRINCIPIO AMIGOS  -->

{% endblock %}
</body>
</html>
