{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block seo_title %}{% endblock %}</title>
        <meta name="description" content="{% block seo_description %}{% endblock %}">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body>
    {% block content %}
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Sign up</button>
      </form>
    {% endblock %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
